{% extends 'base.html.twig' %}

{% block body %}
    <div id="main" class="container-fluid">
        <div class="row slide">
            <div class="col-12">
                <div id="video-fond" class="d-none d-md-block">
                    <video src="videos/particles_blue_mini.mp4" autoplay loop muted>
                    </video>
                </div>

                <div class="col-12" id="filtre"></div>
                <h1>Halgueronne</h1>
            </div>
        </div>
    </div>


{% endblock %}
