{% extends 'base.html.twig' %}

{% block body %}
    <div id="main" class="container-fluid">
        <div id="knight-in-blizzard" class="row slide">
            <h1 class="text-center">Halgueronne</h1>
            <div id="knight-content">
                <img id="shadow-knight" src="img/shadow_knight.png" class="img-fluid" alt="Blizzard">
                <img id="knight" src="img/knight.png" class="img-fluid" alt="Blizzard">
            </div>
            <img id="blizzard-front" src="img/blizzard2.gif" alt="Blizzard">
        </div>
    </div>


{% endblock %}
