#characters-search-page{
    h2{
        margin-left:15px;
    }
    a{
        text-decoration: none;
    }
    .card{
        padding: 5px;
        background: $gold-gradiant-inverse;
        .card-title{
            color: whitesmoke;
            filter: drop-shadow(2px 2px #333);
        }
    }
    a:hover .card{
        z-index: 3;
        transform: scale(1.06);
        box-shadow: 0 11px 10px 0 rgba(0,0,0,.75);
    }
}