#characters-show-page{
    h2{
        margin-left: 15px;
    }
    ul{
        margin-left: 15px;
        li {
            list-style: none;
        }
    }
    #background-show{
        margin-left: 15px;
    }
    .dead-alert {
        color: whitesmoke;
        font-size: 5vw;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-family: "Geizer";
        background-color: #333;
        padding: 0 50px;
        height: 300px;
        line-height: 150px;
    }
}