{% extends 'base.html.twig' %}

{% block body %}
    <div class="slide">
        <!-- En cas d'erreur détectée lors de la tentative de connexion -->
        {% if hasError %} 
            <div class="alert alert-danger text-center">
                Your login or password is incorrect! We could not connect.
            </div> 
        {% endif %}
        <!-- Symfony intercepte les données du formulaire grâce au path('connexion'), défini dans le fichier security.yaml, au niveau des login_path / login_check, dans firewalls -->
        <form action="{{ path('account_login') }}" method="POST"> 
            <div class="form-group"> 
                <label for="login">Login</label> <input type="text" class="form-control" placeholder="Login..." name="_username" value="{{ login }}" id="login" required> 
            </div> 
            <div class="form-group"> 
                <label for="password">Password</label> <input type="password" name="_password" id="password" placeholder="Password..." class="form-control" required> 
            </div> 
            <div class="form-group"> 
                <button type="submit" class="btn btn-success">Log me</button> 
            </div> 
        </form>
    </div>
{% endblock %}
