{% extends 'base.html.twig' %}

{% block title %}Halgueronne - Inscription{% endblock %}

{% block body %}
<div id="register-page" class="slide">
    <div class="container">
        <div class="container-content">
            <h1>Inscription</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">M'inscrire</button>
                <a href="{{ path('home')}}" class="btn btn-danger">Retour</a>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}