#show-encyclopedia{
    h2{
        margin: 25px 0;
    }

    .container-content{
        border-radius: 0;
    }

    #post_informations{
        background-color: whitesmoke;
        margin-top: 25px;
    }
}