{% extends 'base.html.twig' %}

{% block body %}
<div id="admin-home-page" class="slide">
    <div class="container">
        <h1>Adminisration</h1>
        <div class="row">
            <a href="{{ path('admin_users_list') }}">Voir liste des utilisateurs</a>
            {# <a href="{{ path('characters_list') }}">Voir liste des personnages</a> #}
            
        </div>
        <div class="row">
            <a href="{{ path('home')}}" class="btn btn-danger">Retour page d'accueil</a>
        </div> 
    </div>  
</div>
{% endblock %}

