
nav{
    position: fixed;
    width: 50px;
    height: 38px;
    top: 25px;
    left: 25px;
    z-index: 2000;
    cursor: pointer;
}

#home-return{
    position: absolute;
    color: #e9be74;
    font-size: 45px;
    bottom: 15px;
    right: 25px;
    z-index: 2000;
    filter: drop-shadow(1px 1px #333);
}

#home-return:hover #compass{
    animation: shake 3s infinite;
    animation-timing-function: linear; 
}

@keyframes shake {
    0% { transform: rotate(10deg); }
    10% { transform: rotate(360deg); }
    25% { transform: rotate(120deg); }
    50% { transform: rotate(-15deg); }
    75% { transform: rotate(70deg); }
    90% { transform: rotate(30deg); }
    100% { transform: rotate(10deg); }
}

.bar{
    width: 35px;
    height: 5px;
    background-color: #e9be74;
    margin: 6px auto;
    z-index: 1000;
    box-shadow: 0px 2px 1px black;
}

#bar1,#bar2,#bar3{
    transition: all 0.4s;
}

.change #bar1{
    transform: rotate(-45deg) translate(-8px,8px);
    background-color: white;
    box-shadow: none;
}

.change #bar2{
    opacity: 0;
}

.change #bar3{
    transform: rotate(45deg) translate(-8px,-8px);
    background-color: white;
    box-shadow: none;
}

#menu{
    width: 40%;
    height: 100%;
    background-color: #101116;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 900;
    border-right: 4px solid;
    border-image: linear-gradient(
        to bottom, 
        #facc7c,
        #d3962d, 
      ) 1 100%;
    box-shadow: 10px 0px 50px black;
    overflow-y: auto;

    @media (max-width: 991.98px) { 
        width: 100%;
        border: none;
        box-shadow: none;
    }

    #menu-content{
        min-height: 50%;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
        margin-bottom: auto;
        padding: 25px;

        #menu-administration{
            margin-top: 50px;
            border-top: 1px solid grey;
            padding-top: 15px;

            h2{
                a{
                    color: brown;
                }

                :hover{
                    text-decoration: none;
                    color: rgb(192, 39, 39);
                }
            }
        }

        #connexion-reminder{
            background-color: #facc7c;
            color: #333;
            margin-top: 30px;
        }

        #connexion-reminder:hover{
            background-color: #e9be74;
        }
    }

    h2, a{
        color: #facc7c;
    }

    h2{
        :hover{
            color: #d3962d;
        }
    }

    a{
        text-decoration: none;
    }

    p{
        color: whitesmoke;
        text-align: justify;
        word-break: break-word;
    }
}


#connexion-content{
    position: fixed;
    z-index: 800;
    top: 0;
    right: 0;
    width: 275px;
    height: 80px;
    padding-top: 25px;

    #connexion-nav{
        position: absolute;
        top: 0;
        right: 73px; // Pour se placer sur le bord gauche de l'avatar qui fait 75px de large. Et -2px pour le border left.
        z-index: 0;
        background-color: #495057;
        border: 2px solid #e9be74;
        border-right: none;
        height: 100px;
        width: 0;

        // Small devices (landscape phones, 576px and up)
        @media (max-width: 767.98px) {
            border: none;
            right: 0px;
            height: 50px;
        }
    }

    #connexion-nav-list{
        display: none;

        a{
            display: block;
            background: none;
            color: whitesmoke;
            line-height: 20px;
            margin-left: 10px;
        }
    }

    a{
        background-color: #facc7c;
        border: 1px solid #495057;
        width: 125px;
        color: #495057;
        font-size: 1rem;
        font-weight: 400;
    }
    
    a:hover{
        background-color: #e9be74;
    }
    
    #connexion-user{
        position: absolute;
        right: 0;
        margin-right: 25px;
        height: 100px;
        width: 100px;
        box-shadow: 0px 2px 10px black;

        // Small devices (landscape phones, 576px and up)
        @media (max-width: 767.98px) {
           height: 50px;
           width: 50px;
        }

        #connexion-avatar{
            height: 100%;
            width: 100%;
            filter: grayscale(1);
            transition: 0.4s;
        }

        #connexion-avatar:hover{
            filter: grayscale(0);
        }

        #connexion-login{
            text-align: center;
            position: top;
            background-color: whitesmoke;
            font-family: "Geizer";
            letter-spacing: 0.5px;
            font-size: 24px;
            line-height: 25px;
            overflow: hidden;
            box-shadow: 0px 2px 10px black;

            // Small devices (landscape phones, 576px and up)
            @media (max-width: 767.98px) {
                display: none;
            }
        }

        #connexion-avatar:hover, #connexion-login:hover{
            cursor: pointer;
        }
    }
    

    // SMALL DEVICES
    @media (max-width: 991.98px) {
        position: fixed;
        right: 0;

        input{
            width: 125px;
            float: none;
        }

        button{
            margin-right: 0;
            margin-top: 10px;
            width: 125px;
        }
    }
}

.btn{
    box-shadow: 0px 1px 4px black;
}

.connexion-alert{
    position: absolute;
    z-index: 2000;
    top: 15px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
} 