{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Ajout d'un nouvel utilisateur</h1>

   
    {{ form_start(form) }}
        {{form_widget(form) }}
        <button type="submit" class="btn btn-success">Créer le nouvel utilisateur</button>
        <a href="{{ path('utilisateurs')}}" class="btn btn-danger">Retour</a>
    {{ form_end(form) }}

</div>
{% endblock %}