<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Halgueronne{% endblock %}</title>
        {% block stylesheets %}
            <!-- La fonction twig asset() permet de retrouver un fichier statique, peu importe sa version. Et donc de récupérer la css créée par npm run build -->
            <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
